BachelorTherasoftDotnetApi/.vs/*
BachelorTherasoftDotnetApi/bin/*
BachelorTherasoftDotnetApi/obj/*

BachelorTherasoftDotnetApplication/bin/*
BachelorTherasoftDotnetApplication/obj/*

BachelorTherasoftDotnetDomain/bin/*
BachelorTherasoftDotnetDomain/obj/*

BachelorTherasoftDotnetInfrastructure/bin/*
BachelorTherasoftDotnetInfrastructure/obj/*


