BachelorTherasoftDotnetApi/.vs/*
BachelorTherasoftDotnetApi/bin/*
BachelorTherasoftDotnetApi/obj/*
BachelorTherasoftDotnetApi/.DS_Store

BachelorTherasoftDotnetApplication/bin/*
BachelorTherasoftDotnetApplication/obj/*

BachelorTherasoftDotnetDomain/bin/*
BachelorTherasoftDotnetDomain/obj/*

BachelorTherasoftDotnetInfrastructure/bin/*
BachelorTherasoftDotnetInfrastructure/obj/*


